<!DOCTYPE html>
<html>
  <head>
    <title>Sandwich Board</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <script type="text/javascript" src="/angular/angular.js"></script>
  </head>
  <body>
    <%= partial('boards/' + board) -%>
  </body>
</html>
