<!DOCTYPE html>
<html>
  <head>
    <title><%= status %></title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <h1><%= status %></h1>
    <%= message %>
  </body>
</html>
